@font-face {
  font-family: Georgia;
  font-style: normal;
  font-weight: 400;
  src: url(./assets/fonts/georgia/georgia-regular.ttf);
}
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 0 20px;
}

.container {
  width: 85vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
}

main{
  display: flex;
  flex-direction: row;
  width: 100vw;
  align-items: start;
}

.backlog-block {
  min-width: fit-content;
  border: 1px solid black;
  border-radius: 10px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: Georgia;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
}
.main-block {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.row-wrapper, .row-executor-task {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.date-title {
  margin: 0 20px 0 5px;
  font-family: Georgia;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 110%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  letter-spacing: 0.06em;
  color: #000000;
}

.header-block, .arrows {
  display: flex;
  gap: 5px;
  margin: 10px;
}

.header-block {
  width: 100%;
}

.left-arrow, .right-arrow {
  width: 3rem;
  height: 3rem;
  border: 1px solid black;
  border-radius: 100%;
}
.left-arrow {
  background-image: url(./assets/img/arrow-icon-1174.png);
  background-repeat: no-repeat;
  background-size: 24px;
  background-position: center;
  transform: rotate(-180deg);
}

.right-arrow {
  background-image: url(./assets/img/arrow-icon-1174.png);
  background-repeat: no-repeat;
  background-size: 24px;
  background-position: center;
}

.executor-cell, .executor-col{
color: rgb(110, 110, 110);
display: flex;
align-items: center;
min-width: 9rem;
height: 2rem;
font-family: Georgia;
font-style: normal;
font-weight: 400;
font-size: 14px;
text-align:left;
margin-right: 10px;
padding-left: 10px;
border-bottom: 1px solid grey;
border-right: 1px solid grey;
border-radius: 10%;
}

.executor-col:hover {
  transition: .5s;
  min-width: 9.4rem;
  color: rgba(36, 64, 247, 0.541);
  background-color: rgb(238, 238, 238);
}

.executor-cell:hover {
  transition: .5s;
  min-width: 9.4rem;
  color: rgba(36, 64, 247, 0.541);
  background-color: rgb(238, 238, 238);
}

.left-arrow:hover, .right-arrow:hover {
  background-color: rgb(238, 238, 238);
}

.date-col, .task-cell {
  display: flex;
  align-items: center;
  justify-content: start;
  padding-left: 10px;
  padding-bottom: 5px;
  margin-right: 3px;
  min-width: 2rem;
  min-height: 2rem;
  height: fit-content;
  flex: 1 1 100%;
  font-family: Georgia;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  border-bottom: 1px solid rgba(163, 163, 163, 0.452);
  border-radius: 6%;
}

.task-cell {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.task-cell-content {
  font-size: 16px;
}

.search-wrapper {
  display: flex;
  flex-direction: column;
  gap: .25rem;
}

input {
  margin: 10px 5px 0px 5px;
  font-family: Georgia;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  border-radius: 5px;
  padding: .2rem;
}

.user-cards {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  gap: .25rem;
  margin-top: 1rem;
  cursor: pointer;
}

.card {
  display: flex;
  flex-wrap: wrap;
  margin: 0 5px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: white;
  padding: .25rem;
}

.hide {
  display: none;
}

@media (min-width: 1150px) and (max-width: 1350px) {
    .task-cell-content {
      font-size: 14px; 
    }

    .backlog-block {
    min-width:auto;
    width: 10vw;
    border: 1px solid black;
    border-radius: 10px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: Georgia;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
  }

  .container {
    width: 88vw;
  }
}

@media (min-width: 768px) and (max-width: 1149px) {
    .header-block {
      margin: 2px;
    }
    .task-cell-content {
      font-size: 10px; 
    }

    .backlog-block {
    min-width:auto;
    width: 100px;
    border: 1px solid black;
    border-radius: 10px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: Georgia;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
  }
  .card {
    font-size: 10px;
  }
  .date-title {
    font-size: 14px;
  }

  .container {
    width: 88vw;
  }

  .right-arrow {
    transform: scale(0.8);
  }
  .left-arrow {
    transform: rotate(-180deg) scale(0.8);
  }
  .date-col {
    font-size: 12px;
  }
  .executor-cell, .executor-col{
    min-width: 6rem;
    font-family: Georgia;
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    text-align:left;
    margin-right: 5px;
    padding-left: 5px;
    border-bottom: 1px solid grey;
    border-right: 1px solid grey;
    border-radius: 10%;
    }
}
@media (min-width: 0px) and (max-width: 767px) {
  body {
    margin: 0 2px;
  }
  .header-block {
    margin: 1px;
  }

  .task-cell-content {
    font-size: 8px; 
  }
  .task-cell {
    padding-left: 0px;
  }
  .arrows{
    margin: 3px;
    gap: 0px;
  }
    .backlog-block {
    display: none;
  }
  .card {
    font-size: 10px;
  }
  .date-title {
    font-size: 14px;
  }

  .container {
    width: 98vw;
  }

  .right-arrow {
    transform: scale(0.6);
  }
  .left-arrow {
    transform: rotate(-180deg) scale(0.6);
  }
  .date-col {
    font-size: 8px;
    padding-left: 2px;
    min-height: 1rem;
  }
  .executor-col {
    visibility: hidden;
  }
  .executor-cell, .executor-col{
    min-width: 3.6rem;
    font-family: Georgia;
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    text-align:left;
    margin-right: 5px;
    padding-left: 5px;
    border-bottom: 1px solid grey;
    border-right: 1px solid grey;
    border-radius: 10%;
    }
}
